img { max-width: 200px; max-height: 200px; }
table { width: 90%; }

@media screen and (max-width: 600px) {
    /* display flex container items as rows in a column */
    * { flex-direction: column; }
   }

   @media screen and (max-width: 600px) {
    /* divs in .topnav are blocks, take up entire screen */
    .topnav > div { display: block; text-align: center; }
   }

   @media screen and (max-width: 600px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }
  