

   .topnav { display: flex; }

   .topnav { display: inline-block; }

   #topic{
    text-align: center;
}

.shonen{
    background-color: orange;
    color: black;
    border-radius: 5px;
   /* padding: 10px; */
}

.sports{
    background-color: rgb(111, 100, 165);
    color: black;
    /* padding: 10px; */
    border-radius: 5px;
}



.sp{
    padding: 20px;
    border-style: outset;
    border-width: 7px;
    border-radius: 10px;
    border-color: darkslategray;
    /* max-width: 1000px; */
    max-height: 100%;
   
}

.sn{
    padding: 20px;
    border-style: outset;
    border-width: 7px;
    border-radius: 10px;
    border-color: darkslategray;
    /* max-width: 1000px; */
    max-height: 100%;
   
}

.title{
   
    text-align: center; 
    color: rgb(78, 165, 93);
    border-style: outset;
    border-radius: 2px;
    border: solid;
    text-transform: uppercase;
    
}

#s1{
    padding: 10px;
    border: solid;
    border-width: 7px;
    border-radius: 10px;
    border-color: rgb(198, 86, 42);
    
}

#s2{
    padding: 10px;
    border: solid;
    border-width: 7px;
    border-radius: 10px;
    border-color: rgb(21, 69, 140);
}



@media screen and (min-width: 800px) {
    img { max-width: 200px; max-height: 200px; }
    table { width: 90%; }
}


* {
    box-sizing: border-box;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #333;
    display: flex;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    flex-grow: inherit;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  }

  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }

  /* Main column */
.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
  }

  .side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
  }

  /* Column container */
.row {  
    display: flex;
    flex-wrap: wrap;
  }

  /* Header/logo Title */
.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
  }

  body {
    font-family: Arial;
    margin: 0;
  }

  .topnav {
    display: flex;
    background-color: DodgerBlue;
    
  }
  
  .topnav > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }


  #content {
    display: flex;
    width: 500px;
  }
  
  #content div {
    flex-basis: 120px;
    border: 3px solid rgba(0, 0, 0, 0.2);
  }
  
  .box {
    flex-shrink: 1;
  }
  
  .box1 {
    flex-shrink: 2;
  }

  body {
    margin: 40px;
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
    background-color: #fff;
    color: rgb(182, 108, 108);
  }
  
  .box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
  }
